body {
  margin: 0px;
  line-height: 160%;
}

.App {
  margin: 0px;
}

.nav-bar {
  background-color: #282828;
  overflow: hidden;
  top: 0;
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 1;
  cursor: default;
  height: 3.5em;
  line-height: 1.7em;
  color: white;
  font-family: "Patrick Hand SC", cursive;
  font-size: 1.5em;
}

.nav-bar h3 {
  float: left;
  position: relative;
  margin: 10px 15px 15px 10px;
  line-height: 1.7em;
  text-align: center;
  color: #fff;
}

nav a {
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

.intro {
  font-family: "EB Garamond", serif;
  position: absolute;
  top: 100px;
  color: white;
  width: 100%;
  /* border: 1px solid blue; */
}
.home-page {
  height: 100vh;
}

.likes > b {
  line-height: 16px;
}

.bg-img {
  height: 100%;
  background-image: url("/images/gradient-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* filter: blur(8px); */
}

.myemoji-container {
  text-align: center;
}

.text-container {
  max-width: 500px;
  margin: 0 auto;
  font-size: 1.35em;
  margin-top: -77px;
}

.section {
  width: 80%;
  margin: 0px auto;
  font-family: "Patrick Hand SC", cursive;
}

.section h1 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  position: relative;
}

.row {
  margin: 10px;
  font-family: "Patrick Hand SC", cursive;
}

.row h3 {
  font-size: 1.3em;
  margin-left: 50px;
}

.skills-container {
  /* background-color: blanchedalmond; */
}

.skill-item svg {
  width: 6.25em;
  height: 6.25em;
  margin-left: 70px;
}

.skill-item {
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
}

.skill-item p {
  font-size: 1.15em;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.technologies .frontend div svg {
  display: grid;
  grid-template-columns: 200px auto;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  /* text-align: left */
}

.technologies .backend div svg {
  display: grid;
  grid-template-columns: 200px auto;
  margin: 0 auto;
  /* text-align: left */
}

.technologies .dev-tools div svg {
  display: grid;
  grid-template-columns: 200px auto;
  margin: 0 auto;
  /* text-align: left */
}

.content {
  display: grid;
  grid-template-areas: "a a";
  grid-gap: 20px;
}

.left {
  width: 300px;
  height: 300px;
}

.about-container h1 {
  text-align: center;
}

.about-container {
  height: 100%;
  overflow-x: hidden;
  padding-top: 20px;
  font-family: "Patrick Hand SC", cursive;
  font-size: 1.3em;
}

.projects-cards {
  display: flex;
  align-items: stretch;
  gap: 10px;
  justify-content: center;
}

.project-card {
  width: 90%;
  border-radius: 3px;
  box-shadow: 0 1px 3px darkgray;
  padding: 10px;
  font-size: 1.1em;
}

.project-pic {
  width: 100%;
}

a {
  text-decoration: none;
}

.language-container p {
  border-radius: 50px;
  box-shadow: 0px 0px 6px #fff;
  height: 60px;
  margin: 20px;
  width: 60px;
}

@keyframes comeIn {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

.xmasonry .xblock {
  animation: comeIn ease 0.5s;
  animation-iteration-count: 1;
  transition: left 0.3s ease, top 0.3s ease;
}

.card {
  margin-left: -50px;
  margin-right: -95px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 1px 3px darkgray;
  float: left;
  width: 100%;
}

.contact-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}

hr {
  border-top: 3px dashed #bbb;
}



@media screen and (max-width: 978px) {
  .about-container .content {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 692px) {
  .skill-item {
    margin: 0 0.5em;
    font-size: 0.9em;
  }
}

@media screen and (max-width: 810px) {
  .skill-item svg {
    width: 75px;
    height: 75px;
  }
}

@media screen and (max-width: 980px) {
  .projects-cards {
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: center; */
    width: 100%;
  }
  .cards {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 510px) {
  .myemoji-container img {
    width: 300px;
    margin-top: 50px;
  }
  .text-container {
    font-size: 1em;
    max-width: 300px;
    margin-top: auto;
  }
}

@media screen and (max-width: 378px) {
  .nav-bar {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1533px) {
  .about-container .content .right {
    font-size: 1.3em;
  }
}
